<div class="pageContent">

	<form id="form1" method="post" action="${ctx}/aplf/archiver/organizers/addOrg"  class="pageForm required-validate"  enctype="multipart/form-data"  onsubmit="return iframeCallback(this,navTabAjaxDone);">
		<input id="organizationid"  name="orgz.orgid"  type="hidden" />
		<div class="pageFormContent  nowrap " layoutH="56">

			<dl>
				<dt>单位名称：</dt>
				<dd>
				<input type="text"   name="orgname"  id="orgname" class="required" size="30"    minlength="6" maxlength="16"/>
				</dd>
			</dl>
			<dl>
				<dt>电话：</dt>
				<dd>
				<input type="text"   name="orgphone"  id="orgphone" size="30"  class="required"  minlength="6" maxlength="16"/>
				</dd>
			</dl>
			<dl>
				<dt>传真：</dt>
				<dd>
					<input type="text"  name="realname"  size="30"  class="required" byteRangeLengthMax="20" byteRangeLengthMin="4"/>
				</dd>
			</dl>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="buttonActive"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">返回</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
