@charset "utf-8";
/* CSS Document */

body{font-family:,Arial Narrow,arial,serif; font-size:12px;}
img{ border:0;}

.eXtremeTable {
	margin: 0;
	padding: 0;
}

.ozTextItemAHerfCss {
    color:#0056a9;
	text-decoration: none;
}


.eXtremeTable .Table, Tr, Td, {
	color:#262626;
}

.titleRow_left {
    margin:0px;
	padding:0px;
}

.oztit {
    line-height:22px;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	text-align:left;
	color:#406ea8;
	border:1px solid #fff;
}

.eXtremeTable select {
	border: solid 1px #EEE;
}

.eXtremeTable .tableRegion {
	padding: 2px;
}

.eXtremeTable .filter {
	background-color: #F4F4F4;
}

.eXtremeTable .filter td {
	padding: 2px;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	vertical-align: middle;
}

.eXtremeTable .titleRow {
	background-color: #F4F4F4;
}

.eXtremeTable .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.eXtremeTable .titleRow span {
	color: #444444;
	font-weight: bold;
}

.eXtremeTable .filter input {
	border: solid 1px grey;
	padding: 1px;
}

.eXtremeTable .filter select {
	border: solid 1px #EEE;
}

.eXtremeTable .tableHeader {
	background-color: #308dbb;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;

}

.tableHeader_left {
    background:#edebee;
	height:22px;
	color:#0056a9;
	line-height:22px;
	font-weight:bold;
	text-align:center;
	border-right:1px solid #FFFFFF;
}

.eXtremeTable .tableHeaderSort {
    background:#edebee;
	height:22px;
	color:#0056a9;
	line-height:22px;
	font-weight:bold;
	text-align:center;	
}

.ozTableTheadCss {
    border-bottom:1px solid #cdcbcc;
}

.ozTableTitleTdCss {
    font-size:12px;
    line-height:20px;
	text-align:left;
	padding-left:10px;
	font-weight:bold;
	color:#0056a9;
	border:1px solid #fff;
}

.ozTableTitleCss {
    border-bottom:1px solid #cdcbcc;
}

.tableBody {
    line-height:20px;
}

.odd {

    text-align:center;
}

.eXtremeTable .odd a, .even a {
	color: #018613;
	text-decoration: none;
	text-align:center;
}


.eXtremeTable .odd td, .eXtremeTable .even td {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	vertical-align: middle;
	text-align:center;
	border-bottom:1px #e2ecf5 solid;
	border-right:1px #e8e8e8 solid;
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background-color: #f8f8f8;
	
}

.eXtremeTable .highlight td {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 3px;
	text-align:center;
	vertical-align: middle;
	background-color: #d9f1fd;
}

.eXtremeTable .highlight a, .highlight a {
	color: #262626;
}

.eXtremeTable .compactToolbar {
	background-color: #d6e4f5;
	border-top:1px solid #cdcbcc;
	border-bottom:1px solid #cdcbcc;
}

.eXtremeTable .toolbar {
	background-color: #f5f4f4;
}

.eXtremeTable .toolbar a:hover {
	background-color: transparent;
	
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	background-color: #F4F4F4;
}

.eXtremeTable .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}
/**/
.eXtremeTable .title span {
	margin-left: 7px;
}

.tableBotton_right {
    text-align:right;
	background:#f5f4f4;
}

.compactToolbarTD4 {
    float:right;
	padding-right:10px;
	line-height:28px;
}

.toolbarDivCss {
	width:100%;
    float:right;
}

.eXtremeTable .formButtons {
    width:auto;
	height:22px;
	line-height:21px;
	float:right;
	display: block;
	font-size: 12px;
	color: #353535;
	border: 3px double;
	border-color: #C4CCCC #ACB5B5 #6F7777 #ACB5B5;
}

.jumpPageInput {
    width:22px;
	height:16px;
	font-family:Verdana;
}
/**/
.eXtremeTable .formButton {
	cursor: pointer;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .calcRow {
	background-color: #F4F4F4;
}

.eXtremeTable .calcTitle {
	background-color: #F4F4F4;
	color: #262626;
	font-weight: bold;
}

.eXtremeTable .calcResult {
	background-color: #F4F4F4;
	color: #262626;
}

.jumpAfterWithTdCss {
    line-height:20px;
}

.sider_right{ border-right:none;}